body {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(./images/browser-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  height: 100%;
  width: 100%;
  background-color: var(--light-color);
}

@media (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }
}
