body {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(./images/browser-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  height: 100%;
  width: 100%;
  background-image: url(./images/browser-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.auth-page {
  background-color: var(--alt-color);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.home-page {
  padding-bottom: 80px;
}

.create-tourney-form {
  padding: 100px 5%;
  background-color: var(--light-color);
}

.tournaments-page,
.tourney-page,
.log-catch-page {
  padding-top: 40px;
  min-height: 100vh;
}

.log-catch-page {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }

  .auth-page {
    max-width: 1200px;
  }

  .home-page {
    padding-bottom: 0;
  }

  .tournaments-page,
  .tourney-page,
  .log-catch-page {
    width: 1200px;
    padding-top: 60px;
  }

  .create-tourney-form {
    padding: 60px 5%;
    font-size: 1.5em;
  }
}
