/* Variables */
:root {
  --main-color: #004445;
  --light-color: #fffdea;
  --secondary-color: #6fb98f;
  --alt-color: #2c7873;
  --selected-color: #ffd800;
  --brand-text: 'Cutive', serif;
}

/* Helpers */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: var(--selected-color) !important;
}

.color-red {
  color: red;
}

.border-none {
  border: none;
}

.link-no-deco {
  text-decoration: none;
}

.link-no-deco:visited {
  text-decoration: none;
}

/* splash-page */
.splash {
  background-image: linear-gradient(45deg, #ffd80060, var(--main-color));
  height: 100vh;
}

.splash i {
  color: var(--alt-color);
  font-size: 300px;
}

/* authentication-pages */
.auth-page {
  background-color: var(--alt-color);
  height: 100vh;
  flex-direction: column;
}

.auth-page h1 {
  margin: 0 0 20px 0;
  font-size: 96px;
  color: var(--light-color);
}

.auth-form {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px 10px;
  border-radius: 20px;
}

.auth-form label {
  font-weight: bold;
  margin-left: 5px;
}

.auth-form input,
.auth-form button,
.auth-form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.auth-form button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--main-color);
  color: var(--light-color);
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: var(--main-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header-item {
  min-width: 100px;
}

.header-title {
  text-align: center;
  width: 100px;
}

.header-cancel {
  float: right;
}

/* Sub-Headers */
.sub-header {
  height: 40px;
}

.sub-header span,
.banner-text {
  font-weight: bold;
  letter-spacing: 4px;
  position: absolute;
  color: var(--light-color);
}

.banner-text {
  font-size: 48px;
  left: 20px;
  top: 50px;
  font-family: var(--brand-text);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
}

.top-triangle {
  border-top: 0 solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 375px solid var(--main-color);
}

.bottom-triangle {
  border-top: 40px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 375px solid var(--alt-color);
}

.top-triangle-lg {
  border-top: 0 solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 375px solid var(--main-color);
}

.bottom-triangle-lg {
  border-top: 80px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 375px solid var(--alt-color);
}

/* nav-bar */
.main-nav {
  background-color: var(--main-color);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 80px;
}

.nav-icon i {
  color: var(--light-color);
  font-size: 40px;
}

.nav-icon span {
  color: var(--light-color);
  padding-top: 10px;
  font-size: 10px;
}

/* Home Page */
.home-page {
  overflow-y: scroll;
  padding-bottom: 80px;
}

.home-page h2 {
  text-align: center;
}

.hero-banner {
  margin-top: 40px;
  height: 250px;
  width: 100%;
}

.hero-banner i {
  position: absolute;
  font-size: 200px;
  color: var(--alt-color);
}

.hero-banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  filter: opacity(0.7);
}

iframe {
  width: 100%;
  height: 400px;
}

/* Tournaments Page */

/* Tourney slider */
.tournaments-page {
  height: 150vh;
  background-color: var(--light-color);
  padding-top: 40px;
}

.t-slider {
  height: 50px;
  width: 100%;
  background-color: var(--light-color);
}

.slider-well {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 90%;
  background-color: #3b3b3b;
  border-radius: 35px;
}

.slider-btn {
  background-color: var(--main-color);
  color: var(--light-color);
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 2px;
}

.slider-selected {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Tourney button */
.t-btn-container {
  position: fixed;
  bottom: 90px;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: rgba(39, 97, 0, 0.2);
}

.create-tourney-btn {
  width: 80%;
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

/* Card */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;
}

.card {
  width: 150px;
  height: 250px;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  background-color: var(--alt-color);
  border-radius: 0 0 20px 20px;
}

.card-text {
  color: var(--light-color);
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Create Tourney Form */
.create-tourney-form {
  padding: 100px 5%;
}

.input-group {
  margin-top: 20px;
}

.create-tourney-form > input {
  width: 100%;
}

.create-tourney-form h4 {
  margin: 20px 0 10px 0;
  text-align: center;
}

.create-tourney-form label {
  margin-left: 5px;
  margin-bottom: 5px;
}

.inline-inputs {
  display: flex;
  justify-content: space-between;
}

.inline-input {
  margin-top: 20px;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.inline-input label > span {
  display: block;
  font-size: 12px;
}

.inline-input input {
  width: 100%;
}

.point-counter {
  text-align: center;
}

textarea {
  width: 100%;
}

.create-tourney-form button,
.create-tourney-form > a {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.submit-tourney-btn {
  background-color: var(--alt-color);
  color: var(--light-color);
}

.cancel-tourney-btn {
  background-color: rgb(195, 195, 195);
  color: rgb(51, 51, 51);
}
