:root {
  --main-color: #004445;
  --light-color: #fffdea;
  --secondary-color: #6fb98f;
  --alt-color: #2c7873;
  --selected-color: #ffd800;
}

/* splash-page */
.splash {
  background-color: var(--main-color);
  height: 100vh;
}

.splash i {
  color: var(--alt-color);
  font-size: 300px;
}

/* authentication-pages */
.auth-page {
  background-color: var(--alt-color);
  height: 100vh;
  flex-direction: column;
}

.auth-page h1 {
  margin: 0 0 20px 0;
  font-size: 96px;
  color: var(--light-color);
}

.auth-form {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px 10px;
  border-radius: 20px;
}

.auth-form label {
  font-weight: bold;
}

.auth-form input,
.auth-form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.auth-form button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--main-color);
  color: var(--light-color);
}

/* header */
header {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: var(--main-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  min-width: 100px;
}

.header-title {
  text-align: center;
  width: 100px;
}

.header-cancel {
  float: right;
}

/* nav-bar */
.main-nav {
  background-color: var(--main-color);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 80px;
}

.nav-icon i {
  color: var(--light-color);
  font-size: 40px;
}

.nav-icon span {
  color: var(--light-color);
  padding-top: 10px;
  font-size: 10px;
}

.selected {
  color: var(--selected-color);
}

/* Home Page */
.hero-banner {
  height: 275px;
  width: 100%;
}

.hero-banner i {
  position: absolute;
  font-size: 200px;
  color: var(--alt-color);
}

/* helpers */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}
