/* Variables */
:root {
  --main-color: #004445;
  --light-color: #fffdf5;
  --secondary-color: #6fb98f;
  --alt-color: #2c7873;
  --selected-color: #ffd800;
  --brand-text: 'Cutive', serif;
}

/* Helpers */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: var(--selected-color) !important;
}

.link-selected {
  border-bottom: 2px solid var(--selected-color);
}

.color-red {
  color: red;
}

.border-none {
  border: none;
}

.link-no-deco {
  text-decoration: none;
}

.link-no-deco:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-italicized {
  font-style: italic;
}

.line-through {
  text-decoration: line-through;
}

button,
a {
  cursor: pointer;
}

.submit-btn {
  padding: 10px;
  background-color: var(--main-color);
  color: var(--light-color);
}

.submit-btn:hover {
  background-color: var(--alt-color);
}

.cancel-btn {
  padding: 10px;
  background-color: rgb(195, 195, 195);
  color: rgb(51, 51, 51);
}

.cancel-btn:hover {
  background-color: rgb(126, 126, 126);
}

/* splash-page */
.splash {
  background-image: linear-gradient(45deg, #ffd80060, var(--main-color));
  height: 100vh;
}

.splash i {
  color: var(--alt-color);
  font-size: 300px;
}

/* authentication-pages */

.auth-page h1 {
  margin: 0 0 20px 0;
  font-size: 96px;
  color: var(--light-color);
}

.auth-form {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px 10px;
  border-radius: 20px;
}

.auth-form label {
  font-weight: bold;
  margin-left: 5px;
}

.auth-form input,
.auth-form button,
.auth-form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.auth-form button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--main-color);
  color: var(--light-color);
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: var(--main-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header-item {
  min-width: 100px;
}

.header-title {
  text-align: center;
  width: 100px;
}

.header-cancel {
  float: right;
}

/* Sub-Headers */
.sub-header {
  height: 40px;
}

.sub-header > span {
  text-align: center;
}

.sub-header span,
.banner-text {
  font-weight: bold;
  letter-spacing: 4px;
  position: absolute;
  color: var(--light-color);
}

.banner-text {
  font-size: 48px;
  left: 20px;
  top: 50px;
  font-family: var(--brand-text);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
}

.top-triangle {
  border-top: 0 solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 100vw solid var(--main-color);
}

.bottom-triangle {
  border-top: 40px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 100vw solid var(--alt-color);
}

.top-triangle-lg {
  border-top: 0 solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 100vw solid var(--main-color);
}

.bottom-triangle-lg {
  border-top: 80px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 100vw solid var(--alt-color);
}

/* Nav */
.main-nav {
  background-color: var(--main-color);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.nav-icon i {
  color: var(--light-color);
  font-size: 40px;
}

.nav-icon span {
  color: var(--light-color);
  padding-top: 10px;
  font-size: 10px;
}

/* App Drawer */
.drawer-icon,
.app-drawer {
  display: none;
}

/* Home Page */
.home-page h2 {
  text-align: center;
}

.hero-banner {
  margin-top: 40px;
  height: 250px;
  width: 100%;
}

.hero-banner i {
  position: absolute;
  font-size: 200px;
  color: var(--alt-color);
}

.hero-banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  filter: opacity(0.7);
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffdea73;
  padding: 1rem;
  margin: 0.5rem;
}

.home-section p {
  width: 90%;
  line-height: 1.5rem;
  margin: 0.5rem;
}

iframe {
  width: 100%;
  height: 400px;
}

/* Tourney Slider */
.t-slider {
  height: 50px;
  width: 100%;
  background-color: var(--light-color);
}

.slider-well {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 90%;
  background-color: #3b3b3b;
  border-radius: 35px;
}

.slider-btn {
  background: radial-gradient(#007f81, #004445);
  color: var(--light-color);
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 2px;
}

.slider-selected {
  background: radial-gradient(#acffd0, #518869);
  color: var(--main-color);
}

/* Tourney button */
.t-btn-container {
  position: fixed;
  bottom: 90px;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #fffdea50;
  backdrop-filter: blur(3px);
}

.create-tourney-btn {
  width: 80%;
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

/* Loader Spinner */
@keyframes loader {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loader {
  z-index: 100;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.loader::before {
  animation: 1.5s linear infinite loader;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* Card */
.card {
  width: 160px;
  height: 280px;
  margin: 0 0.5rem 2rem;
}

.card-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
  box-shadow: 0.2rem 0.4rem 0.8rem 0 black;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  background-color: var(--alt-color);
  border-radius: 0 0 20px 20px;
  box-shadow: 0.2rem 0.4rem 0.8rem 0 black;
}

.card-text {
  color: var(--light-color);
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card-text-title {
  color: #c9ffc3;
  font-size: 18px;
}

/* Create Tourney Form */
.input-group {
  margin-top: 20px;
}

.create-tourney-form input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.create-tourney-form h4 {
  margin: 20px 0 10px 0;
  text-align: center;
}

.create-tourney-form label {
  margin-left: 5px;
  margin-bottom: 5px;
}

.form-group {
  margin-top: 20px;
}

.inline-input {
  display: flex;
}

.inline-input > input {
  flex-basis: 10%;
}

.inline-groups {
  display: flex;
  justify-content: space-between;
}

.inline-group {
  margin-top: 20px;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.inline-group label > span,
.inline-input label > span {
  display: block;
  font-size: 12px;
}

.point-counter {
  text-align: center;
}

.additional-rules {
  width: 100%;
  border-radius: 5px;
}

.create-tourney-form > button,
.create-tourney-form > a {
  width: 100%;
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Tourney Page */

/* Modal */
.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 180px;
  width: 250px;
  text-align: center;
}

.modal-box h2 {
  font-size: 1.5rem;
}

.modal-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.modal-btn {
  background-color: var(--alt-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  width: 80px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.modal-btn:active {
  background-color: #0074c2;
}

.join-tourney-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background-color: var(--alt-color);
  color: var(--light-color);
}

.tourney-header {
  padding-top: 80px;
}

.tourney-header > h2 {
  position: absolute;
  width: 100%;
  height: 40px;
  color: var(--light-color);
  background-color: rgba(0, 0, 0, 0.6);
}

.tourney-header > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Leaderboard */
.leaderboard {
  margin-bottom: 30px;
}

.score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.score-card:nth-child(odd) {
  background-color: var(--main-color);
  color: var(--light-color);
}

.left-col,
.right-col {
  flex-basis: 20%;
}

.left-col > img {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.middle-col {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-card-score,
.score-card-place {
  font-size: 36px;
  font-weight: bold;
}

.score-card-score {
  margin-top: 5px;
}

.score-card-place {
  float: right;
}

/* Tourney Details */
.tourney-details {
  height: 100%;
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
}

.tab {
  flex-basis: calc(100% / 3);
  padding: 20px;
  height: 100%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--light-color);
}

.tab i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.active {
  height: 100%;
  border-bottom: none;
  border-top: 3px solid var(--selected-color);
  color: var(--selected-color);
}

/* Rules Overview */
.rules-overview-container {
  height: 100%;
  padding: 20px 20px 200px;
  background-image: url(./images/browser-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rules-overview-section {
  background-color: #fffdea73;
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0;
}

/* Catch Detailed */
.catch-detailed-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--alt-color);
  height: 60vh;
  width: 300px;
  text-align: center;
  border-radius: 20px;
}

.fa-window-close {
  position: absolute;
  font-size: 25px;
  color: red;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.catch-detailed-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.catch-detailed-text {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: var(--light-color);
}

/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 630px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 98%;
  min-height: 400px;
  background-color: #fffdeaab;
}

.chat-input-row {
  width: 98%;
  padding: 10px;
  background-color: #fffdeaab;
  border: 1px solid black;
}

#chat-input {
  width: 80%;
  background-color: #fffdeaab;
}

#chat-input:focus {
  outline: none;
}

#chat-send-button {
  background-color: #fffdeaab;
}

/* Log Catch Page */
.log-catch-form {
  padding: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.log-catch-form > label,
.log-catch-form .inline-group input,
.log-catch-form > select {
  border-radius: 5px;
  padding: 5px;
}

.file-select {
  background-color: var(--light-color);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.file-select:active {
  background-color: var(--secondary-color);
}

.log-catch-form .inline-group input {
  margin-top: 5px;
  width: 100%;
}

.log-catch-form > label {
  margin-top: 15px;
}

.log-catch-form > button,
.log-catch-form > a {
  width: 100%;
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1200px) {
  /* Header */
  .main-header {
    height: 60px;
    padding: 0 10px;
  }

  .header-item,
  .header-title {
    font-size: 2rem;
  }

  .header-cancel {
    float: right;
  }

  /* Sub-Headers */
  .sub-header {
    margin-top: 10px;
  }

  .sub-header span {
    font-size: 1.5em;
  }

  .reeln-banner {
    display: none;
  }

  .top-triangle {
    border-bottom: 60px solid transparent;
    border-left: 1200px solid var(--main-color);
  }

  .bottom-triangle {
    border-top: 60px solid transparent;
    border-right: 1200px solid var(--alt-color);
  }

  /* Authenticator */
  .auth-form {
    width: 40%;
    padding: 40px 20px;
  }

  /* Home Page */
  .hero-banner {
    margin-top: 60px;
    height: 500px;
    width: 100%;
  }

  .hero-banner i {
    font-size: 400px;
    color: var(--alt-color);
  }

  .hero-banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: opacity(0.7);
  }

  .home-section {
    padding: 1rem;
    margin: 1.5rem;
  }

  .home-section p {
    font-size: 1.5rem;
    width: 70%;
    line-height: 2rem;
  }

  iframe {
    width: 100%;
    height: 800px;
  }

  /* Tourney slider */
  .t-slider {
    height: 80px;
    width: 100%;
  }

  .slider-well {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
  }

  .slider-btn {
    font-size: 1.5em;
    width: 350px;
    height: 45px;
    font-weight: 600;
    margin: 2px;
  }

  /* Tourney button */
  .t-btn-container {
    bottom: 0;
    max-width: 1200px;
    height: 200px;
    padding: 10px;
  }

  .create-tourney-btn {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
  }

  /* Loader spinner */
  .loader {
    top: 2rem;
    right: 2rem;
  }

  .loader::before {
    height: 40px;
    width: 40px;
  }

  /* Card */
  .card {
    width: 300px;
    margin: 0 20px 280px 20px;
  }

  .card-img {
    height: 300px;
    box-shadow: 0.2rem 0.4rem 1.6rem 0 black;
  }

  .card-details {
    height: 150px;
    box-shadow: 0.2rem 0.4rem 1.6rem 0 black;
  }

  .card-text {
    font-size: 1.2em;
  }

  .card-text-title {
    font-size: 30px;
  }

  /* Create Tourney Form */
  .create-tourney-form label {
    margin-left: 10px;
  }

  .inline-inputs {
    display: flex;
    justify-content: space-between;
  }

  .inline-input {
    margin-top: 20px;
    flex-basis: 48%;
  }

  .inline-input > input {
    flex-basis: 5%;
  }

  .inline-group label > span,
  .inline-input label > span {
    font-size: 16px;
  }

  .additional-rules {
    font-size: 20px;
  }

  .create-tourney-form > button,
  .create-tourney-form > a {
    border-radius: 15px;
    font-size: 24px;
  }

  .submit-btn,
  .cancel-btn {
    padding: 15px;
  }

  /* Tourney Page */

  /* Modal */
  .modal-box {
    height: 240px;
    width: 320px;
  }

  .modal-box h2 {
    font-size: 2rem;
  }

  .modal-btns {
    width: 100%;
  }

  .modal-btn {
    width: 110px;
    font-size: 1.4rem;
  }

  .join-tourney-btn {
    width: 50%;
    padding: 20px;
    font-size: 22px;
  }

  .tourney-header {
    padding-top: 0;
  }

  .tourney-header > h2 {
    width: 1200px;
  }

  .tourney-header > img {
    height: 600px;
  }

  .tabs-container {
    height: 80px;
  }

  .tab {
    font-size: 16px;
  }

  .tab i {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  .rules-overview-container {
    padding: 30px 50px 300px;
    font-size: 1.5rem;
  }

  .rules-overview-section {
    padding: 20px;
    margin: 20px 0;
  }

  /* Leaderboard */
  .leaderboard {
    margin-bottom: 60px;
  }

  .score-card {
    height: 120px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .left-col > img {
    width: 90px;
    height: 90px;
  }

  .score-card-score,
  .score-card-place {
    font-size: 48px;
  }

  /* Catch Detailed */
  .catch-detailed-modal {
    height: 80vh;
    width: 1100px;
  }

  .fa-window-close {
    font-size: 50px;
    top: 20px;
    right: 20px;
  }

  .catch-detailed-img {
    height: 70%;
    object-fit: cover;
  }

  .catch-detailed-text {
    height: 20%;
    font-size: 30px;
  }

  /* Log Catch Page */
  .log-catch-form {
    padding-top: 20px;
  }

  .file-select {
    margin-top: 15px;
    padding: 10px;
  }

  .log-catch-form label,
  .log-catch-form .inline-group input {
    font-size: 22px;
    padding: 10px;
  }

  .log-catch-form .inline-group input {
    margin-top: 10px;
  }

  .log-catch-form > button,
  .log-catch-form > a {
    margin-top: 20px;
    font-size: 24px;
  }

  /* Nav */
  .main-nav {
    display: none;
  }

  /* App Drawer */
  .drawer-icon {
    display: block;
    position: fixed;
    color: var(--light-color);
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    z-index: 21;
  }

  .app-drawer {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 20;
  }

  .drawer-minimized {
    transform: translateX(-100%);
  }

  .drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 80px 0;
    background-color: #00444585;
    box-shadow: 0.2rem 0 1rem 0.2rem black;
    transition: transform 300ms;
    z-index: 20;
  }

  .user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    color: var(--light-color);
  }

  .user-avatar > h1 {
    position: absolute;
    top: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: #00444599;
    color: var(--light-color);
    font-size: 26px;
  }

  .user-avatar > img {
    padding-bottom: 20px;
    object-fit: cover;
    border-radius: 50%;
    width: 220px;
    height: 220px;
  }

  .drawer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  .custom-file-upload:hover {
    background-color: #2c7873;
  }

  .user-avatar button {
    color: var(--light-color);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--light-color);
    background-color: var(--main-color);
    cursor: pointer;
  }

  .drawer-link {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: var(--light-color);
  }

  .drawer-link:hover {
    background-color: #2c7873;
  }

  .drawer-link > i {
    font-size: 32px;
    margin-right: 4rem;
  }

  .hide-drawer {
    transform: translateX(-200%);
  }

  .show-drawer {
    transform: translateX(0%);
  }

  .page-dim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
